@model Book

<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img src="/image/@Model.ImageUrl" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.KitapAdi</h5>
                <p class="card-text">@Model.Aciklama</p>
                <p class="card-text">Yazar:@Model.KitapYazari</p>
                <p class="card-text">Tarihi:@Model.YayinTarihi</p>
                @if(Model.Sayfalar != null){
                <p>
                    <ul>
                        @foreach (var sayfa in Model.Sayfalar)
                        {
                            <li>@sayfa</li>
                        }
                    </ul>
                </p>
                }
            </div>
        </div>
    </div>

</div>
