<div class="jumbotron" style="margin-top: -60px;">
    <h1 class="display-4">ANASAYFA</h1>
    <p class="lead" style="margin-top: 20px;" >Kitaplar.net ; kitaplar hakkinda bilgilenmenizi saglayan sitedir</p>
</div>